{% extends 'client/base.html' %}
{% load static %}
{% block content %}
<div class="navbar navbar-boxed navbar-expand-md navbar-dark mb-7" style="padding: 0rem 0rem;">
  <div class="container" style="padding: 0;">
    <div class="dropdown flex-grow-1 flex-md-grow-0">

      <!-- Toggle -->
      <button class="btn btn-lg btn-block btn-dark" data-toggle="dropdown" aria-expanded="false">
        <span class="navbar-toggler-icon mr-4"></span> Browse Categories
      </button>

      <!-- Menu -->
      <div class="dropdown-menu dropdown-menu-lg w-100">
        {% for item in category %}
        <a class="dropdown-item" data-toggle="collapse" href="{% url 'shop:list' %}?category={{ item.name }}">
          {{ item.name }}
        </a>
        {% endfor %}
      </div>

    </div>
    <div class="flex-grow-1 position-relative">

      <!-- Form -->
      <form class="navbar-form">{% csrf_token %}
        <div class="input-group">

          <!-- Input -->
          <input type="search" class="form-control form-control-lg" placeholder="Search for items and brands">

          <!-- Select -->
          <select class="custom-select custom-select-lg d-none d-md-block">
            <option selected="">전체</option>
            {% for item in category %}
            <option>{{ item.name }}</option>
            {% endfor %}
          </select>

          <!-- Button -->
          <div class="input-group-append">
            <button class="btn btn-outline-border btn-lg">
              <i class="fe fe-search"></i>
            </button>
          </div>

        </div>
      </form>

    </div>

  </div>
</div>

<section>
  <div class="container" style="padding-left: 0;padding-right: 0;">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-8 d-flex flex-column mb-7">

        <!-- Card -->
        <div class="card card-lg justify-content-end bg-cover" style="min-height: 490px;">

          <!-- Background -->
          <div class="card-bg">
            <div class="card-bg-img bg-cover" style="background-image: url({% static 'client/img/products/product-44.jpg' %});"></div>
          </div>

          <!-- Content -->
          <div class="row">
            <div class="col-12 col-md-7 position-static">

              <div class="card-body m-6 bg-white">

                <!-- Heading -->
                <h4>
                  New 2019 Summer collection
                </h4>

                <!-- Button -->
                <a class="btn btn-link stretched-link px-0 text-body" href="#">
                  Shop Now <i class="fe fe-arrow-right ml-2"></i>
                </a>

              </div>
            </div>
          </div>

        </div>

      </div>
      <div class="col-12 col-md-6 col-lg-4 d-flex flex-column mb-7">

        <!-- Card -->
        <a class="card justify-content-center bg-cover" href="#" style="min-height: 490px;">

          <!-- Background -->
          <div class="card-bg">
            <div class="card-bg-img bg-cover" style="background-image: url({% static 'client/img/products/product-40.jpg' %});"></div>
          </div>

          <!-- Body -->
          <div class="card-body text-center text-white">

            <!-- Preheading -->
            <p class="text-uppercase">Enjoy an extra</p>

            <!-- Heading -->
            <h2 class="display-4">50% OFF</h2>

            <!-- Subheading -->
            <h4>Summer Styles</h4>

          </div>

        </a>

      </div>
      <div class="col-12 col-md-6 col-lg-4 d-flex flex-column mb-7 mb-lg-0">

        <!-- Card -->
        <div class="card card-lg justify-content-center h-100 bg-pattern bg-primary" style="min-height: 320px;">
          <div class="card-body text-center text-white">

            <!-- Heading -->
            <h5 class="mb-4">Subscribe to Newsletter</h5>

            <!-- Text -->
            <p class="mb-8">
              Receive an exclusive 10% discount code when you signup.
            </p>

            <!-- Form -->
            <form>
              <div class="input-group input-group-merge">
                <input type="email" class="form-control form-control-light form-control-sm" placeholder="Enter Email *">
                <div class="input-group-append">
                  <button class="btn btn-outline-white btn-sm bg-none text-white">Subscribe</button>
                </div>
              </div>
            </form>

          </div>
        </div>

      </div>
      <div class="col-12 col-md-6 col-lg-4 d-flex flex-column mb-7 mb-md-0">

        <!-- Card -->
        <div class="card justify-content-center bg-cover" style="min-height: 320px;">

          <!-- Background -->
          <div class="card-bg">
            <div class="card-bg-img bg-cover" style="background-image: url({% static 'client/img/products/product-46.jpg' %});"></div>
          </div>

          <!-- Body -->
          <div class="card-body text-center text-white">

            <!-- Heading -->
            <h5 class="mb-0">Watch Collection</h5>

            <!-- Text -->
            <a class="btn btn-link stretched-link px-0 text-white" href="#">
              Shop now <i class="fe fe-arrow-right ml-2"></i>
            </a>

          </div>

        </div>

      </div>
      <div class="col-12 col-md-6 col-lg-4 d-flex flex-column">

        <!-- Card -->
        <div class="card justify-content-center bg-cover" style="min-height: 320px;">

          <!-- Background -->
          <div class="card-bg">
            <div class="card-bg-img bg-cover" style="background-image: url({% static 'client/img/products/product-47.jpg' %});"></div>
          </div>

          <!-- Body -->
          <div class="card-body text-center text-white">

            <!-- Heading -->
            <h5 class="mb-0">Men Sneakers</h5>

            <!-- Text -->
            <a class="btn btn-link stretched-link px-0 text-white" href="#">
              Shop now <i class="fe fe-arrow-right ml-2"></i>
            </a>

          </div>

        </div>

      </div>
    </div>
  </div>
</section>
{% endblock %}