{% extends 'administrator/base.html' %}
{% load bootstrap5 %}
{% block content %}

  <style>
    label {
      margin-bottom: 10px;
    }

    .form-group {
      margin-bottom: 20px;
    }
  </style>

  <div class="container-fluid p-0">
    <h1 class="h3 mb-3">브랜드 수정</h1>

    <div class="row product-create">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title mb-0">브랜드 기본정보</h5>
          </div>
          <div class="card-body">
            <form action="{% url 'brand:update' pk=target_brand.pk %}" method="post">
              {% csrf_token %}
              {% bootstrap_form form %}
              <input type="submit" class="btn btn-dark mt-3" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

