{% load static %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Rambutan</title>

  <link href="{% static 'administrator/css/light.css' %}" rel="stylesheet">
  <link href="{% static 'administrator/custom/css/base.css' %}" rel="stylesheet">
  <link href="{% static 'administrator/custom/css/product.css' %}" rel="stylesheet">
</head>