<!-- Nav -->
<nav class="mb-10 mb-md-0">
  <div class="list-group list-group-sm list-group-strong list-group-flush-x">
    <a class="list-group-item list-group-item-action dropright-toggle {% if nav == 'client_orders' %}active{% endif %}" href="{% url 'orders:list' %}">
      주문내역
    </a>
    <a class="list-group-item list-group-item-action dropright-toggle {% if nav == 'client_wish' %}active{% endif %}" href="{% url 'wishlist:list' %}">
      위시 리스트
    </a>
    <a class="list-group-item list-group-item-action dropright-toggle {% if nav == 'client_account' %}active{% endif %}" href="{% url 'accounts:update' pk=user.pk %}">
      내 정보
    </a>
    <a class="list-group-item list-group-item-action dropright-toggle {% if nav == 'client_address' %}active{% endif %}" href="{% url 'address:list' %}">
      배송지
    </a>
    <a class="list-group-item list-group-item-action dropright-toggle" href="{% url 'accounts:logout' %}">
      로그아웃
    </a>
  </div>
</nav>